:root {
  --background: #000;
  --background1: #1a1c22;
  --secondary: #3d3a50;
  --seconddark: #580ef6;
  --light: #f7f7f7;
  --lightblue: #cdfffc;
  --lightbrown: #faf3e0;
  --textcolor: #dbd8e3;
  --projecttext: #fef4f4;
  --textcolor2: #f3bb1f;
}

/* #2b2726,#403541,#8e43ed,#f0ec8b */

/* Light COlors : #dbd8e3,#eeeeee */

/* redish: #efb7b7, #bd4b4b */

/* blueish: #bc6ff1 , #892cdc */

/* Greenandblue: #00adb5, #00fff5 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #dbd8e3; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
